<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Right Ease Test Automation Test Suite">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

 <test name="Right Ease Test Cases">
  <classes>
      <class name="com.rightease.testcases.LoginPage_rightease"></class> 
      <class name="com.rightease.testcases.HomePage_rightease"></class>
    <!--   --> <class name=""></class>   
   </classes>
</test>
</suite>